
@{
    ViewBag.Title = "Building Automation";
}

<div class="col-md-6 col-md-offset-3 no-padding margin-bottom-15">
    <div class="col-md-12 no-padding margin-bottom-15">
        <img style="width:100%;" src="~/Content/Images/BuildingAutomation/Header.png">
    </div>
    <div class="col-md-12 no-padding">
        <div class="no-padding col-md-12 margin-bottom-40">
            <h4 style="text-align:center">A.J. Celiano, Inc. is proud to offer <b>Building Automation</b> services to our customers. We are committed to providing cutting-edge solutions through an intelligent network.</h4>
        </div>

        <div class="no-padding col-md-12 margin-bottom-40">
            <div class="no-padding-left col-md-6">
                <h3><b>What is Building Automation?</b></h3>
                <p><b>Building Automation</b> is a centralized method of monitoring and controlling operations for equipment in your building or facility.</p>
                <p>In a world where everything is available in the palm of your hands, Building Automation is no different. With real-time access and updates, it’s easy to manage situations as soon as they arise. When it comes to maintenance and general monitoring, it allows for scheduling, alarming, trending reports, and more.</p>
            </div>
            <div class="no-padding col-md-6">
                <img src="/Content/Images/BuildingAutomation/IMG_2534.JPG" class="center-block box-shadow" style="height:200px;">
            </div>
        </div>

        <div class="no-padding col-md-12 margin-bottom-40">
            <div class="no-padding-left col-md-6">
                <img src="/Content/Images/BuildingAutomation/BuildingAutomation - 1.JPG" class="center-block box-shadow" style="height:240px;">
            </div>
            <div class="col-md-6">
                <h3><b>Why do I need a Building Automation System?</b></h3>
                <p><b>Building Automation Systems</b> allow your building to operate at optimal efficiency.</p>
                <p>Upgraded buildings experience:</p>
                <ul>
                    <li>lower energy costs;</li>
                    <li>improved tenant comfort;</li>
                    <li>increased equipment lifespan; and</li>
                    <li>an overall better experience in day-to- day management and operations</li>
                </ul>
            </div>
        </div>

        <div class="no-padding col-md-12 margin-bottom-15">
            <h3><b>How does A.J. Celiano design or retrofit Building Automation Systems?</b></h3>
            <p>The same way we provide a personal and unique experience for our customers, we design <b>Building Automation Systems</b> (BAS) to suit your needs.</p>
            <p>We believe that tailor-made is the way to go, so rest assured that you have a one-of- a-kind design. Whether it’s a brand-new system for a building, or a retrofit for an established one, we provide intelligent solutions that keep your facility current and up-to- date.</p>
            <p>Because we offer both mechanical (HVAC) and <b>Building Automation</b> solutions, we know your building, quite literally, inside and out. That means expedited service, accurate diagnosing, and faster solutions.</p>
        </div>

        <div class="no-padding col-md-12 margin-bottom-15">
            <h3><b>What systems do you offer?</b></h3>
            <p>We are a systems integrator for Johnson Controls Facility Explorer and Tridium/Niagara. We also have years of experience in dealing with other leading industry brands, such as Trane, Carrier, and Honeywell.</p>
            <p>A.J. Celiano was established in 1925, so we’re rounding the corner on being 100 years old, or as we like to call it, century-strong. That’s why we offer a comprehensive approach to both new and old, as well as mechanical and digital.</p>
        </div>

        <div class="no-padding col-md-12 margin-bottom-15">
            <h3><b>What are my next steps to getting a Building Automation System?</b></h3>
            <p>We welcome the opportunity to provide you with a state-of- the-art <b>Building Automation System</b>. Our onsite consultations give you a detailed overview of your building’s needs, as well as expert recommendations going forward.</p>
            <p>Call our office at (908) 272-7510 to <b>schedule an appointment today.</b></p>
        </div>
    </div>
</div>