
@{
    ViewBag.Title = "Emergency Service";
}

<div class="col-md-6 col-md-offset-3 no-padding margin-bottom-15">
    <div class="col-md-12 no-padding">
        <img style="width:100%;" src="~/Content/Images/EmergencyService/Header.png">
    </div>
    <div class="col-md-12 bg-danger margin-bottom-15">
        <h5>For EMERGENCIES during non-business hours, please call <a href="tel:9082727510">(908)272-7510</a> and follow the prompt for our Hot Line.</h5>
    </div>
    <div class="col-md-12 no-padding margin-bottom-15">
        <div class="no-padding col-md-12 margin-bottom-15">
            <div class="no-padding-left col-md-6">
                <p>A.J. Celiano, Inc. provides exceptional service for their customers by responding to their HVAC repair needs with skilled, experienced mechanics and technicians. By utilizing cutting edge technology and <b>practical, efficient service procedures</b>, our qualified technicians can repair a variety of mechanical components on systems ranging from 2-ton residential splits to 250-ton industrial sized chiller plants. After each repair, the customer is provided with a comprehensive report of repairs and improvements performed, along with the peace of mind that the job is fixed right the first time. A.J. Celiano, Inc. serves all of New Jersey.</p>
            </div>
            <div class="col-md-6">
                <img src="~/Content/Images/EmergencyService/serivce tower.JPG" class="center-block box-shadow" style="max-width:100%;">
            </div>
        </div>
        <div class="no-padding col-md-9 margin-bottom-15 col-md-offset-3">
            <h4><b>Our Emergency Services Include:</b></h4>
            <ul style="font-size:larger">
                <li>24/7 service guaranteed – 365 days per year</li>
                <li>Reliable and trained service technicians</li>
                <li>Rapid response time</li>
                <li>Local fleet to minimize travel time</li>
            </ul>
        </div>
        <div class="no-padding col-md-12 margin-bottom-15">
            <div class="no-padding-left col-md-4">
                <img src="~/Content/Images/EmergencyService/HVAC - Service.jpg" class="center-block box-shadow" style="max-width:100%;">
            </div>
            <div class="col-md-8 margin-top-15">
                <p>Today’s building climates rely on environmental controls in order to provide comfort for their customers, employees, and tenants. Whether you find your surroundings too hot in the summer or too cold in the winter, A.J. Celiano, Inc. responds quickly to diagnose and remedy your HVAC system.</p>
            </div>
        </div>
    </div>
</div>