
@{
    ViewBag.Title = "Engineered Installation";
}

<div class="col-md-6 col-md-offset-3 no-padding margin-bottom-15">
    <div class="col-md-12 no-padding margin-bottom-15">
        <img style="width:100%;" src="~/Content/Images/EngineeredInstallation/Header.png">
    </div>
    <div class="col-md-12 no-padding margin-bottom-15">
        <div class="no-padding col-md-12">
            <p>As customers’ needs grow, so does the need for a company that can efficiently and effectively work with preferred PE’s and Mechanical Architects to attain an uncompromised level of HVAC installation services. A.J. Celiano, Inc. has a long history of working with NCEES licensed firms and other architectural companies. Our Mechanical Contracting and Construction team offers the following services:</p>
        </div>
        <div class="no-padding col-md-12 margin-bottom-15">
            <div class="col-md-7">
                <ul>
                    <li>Heating, Ventilation, and Air Conditioning (HVAC) Systems</li>
                    <li>Building Automation (hyperlink to Building Automation page)</li>
                    <li>Heat, Steam, Chilled Water, and Process Piping</li>
                    <li>Positive Displacement and Velocity Pumps</li>
                    <li>Sheet Metal and Duct Work</li>
                    <li>Humidification / Dehumidification Systems</li>
                    <li>Indoor Air Quality (IAQ) Systems</li>
                </ul>
            </div>
            <div class="col-md-5 margin-bottom-15" style="float:right">
                <img src="~/Content/Images/EngineeredInstallation/EngineeredInstallation - 1.JPG" class="center-block box-shadow" style="max-width:100%;">
            </div>
        </div>
        <div class="no-padding col-md-12 margin-bottom-15">
            <p>A.J. Celiano, Inc. utilizes proven project management principles, in which we can get any job done in a timely manner, even with the most rigorous of construction schedules. Our highly trained team of installers and field technicians provides quality workmanship throughout every step of your project. Customers will benefit from A.J. Celiano installation teams:</p>
            <div class="col-md-6">
                <ul>
                    <li>Hands-On Project Management</li>
                    <li>Precision Quality Control</li>
                    <li>Highly skilled manpower</li>
                    <li>Ability to work effectively with other trades</li>
                    <li>Exceptional communication with customers</li>
                    <li>Comprehensive safety program</li>
                </ul>
            </div>
            <div class="col-md-6" style="float:right">
                <img src="~/Content/Images/EngineeredInstallation/EngineeredInstallation - 2.JPG" class="center-block box-shadow" style="max-width:100%;">
            </div>
        </div>
    </div>
</div>