
@{
    ViewBag.Title = "IT Rooms / Datacenters";
}

<div class="col-md-6 col-md-offset-3 no-padding margin-bottom-15">
    <div class="col-md-12 no-padding margin-bottom-15">
        <img style="width:100%;" src="~/Content/Images/ITRoomsDatacenters/Header.png">
    </div>
    <div class="col-md-12 no-padding margin-bottom-15">
        <div class="no-padding col-md-12 margin-bottom-15">
            <p>DataCenter heat removal is one of the most essential yet least understood of all critical IT environment processes. Technology in the 21st century is progressing at a pace never before seen. Critical infrastructure support needs to keep up with the ever-changing trends in the technology industry.</p>
        </div>
        <div class="no-padding col-md-12 margin-bottom-15">
            <p>With a highly trained staff, A.J. Celiano, Inc. can engineer precise environmental conditions to suit your computer and IT equipment. We utilize industry-leading techniques to provide the perfect ecosystem for these environmentally sensitive pieces of equipment in the following ways:</p>
        </div>
        <div class="no-padding col-md-12 margin-bottom-15">
            <div class="col-md-6">
                <ul>
                    <li>Temperature Regulation</li>
                    <li>Humidity Control</li>
                    <li>Under-Floor Cooling Technology</li>
                    <li>Hot Row – Cold Row Air Delivery Systems</li>
                    <li>Secondary / Backup Cooling Systems</li>
                    <li>On-Demand Portable/Temporary “Spot Coolers”</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="~/Content/Images/ITRoomsDatacenters/DataCenters - 4.png" class="center-block" style="max-width:100%;">
            </div>
        </div>
        <div class="no-padding col-md-12 margin-bottom-15">
            <p>A.J. Celiano provides customers with uninterrupted service of their IT and LAN equipment by providing customers with on-demand temporary environmental control in the event of an emergency, always available 24/7 for our customers.</p>
        </div>
    </div>
</div>