
@{
    ViewBag.Title = "Mechanical Construction Design";
}

<div class="col-md-6 col-md-offset-3 no-padding margin-bottom-15">
    <div class="col-md-12 no-padding margin-bottom-15">
        <h2>Mechanical Construction Design</h2>
    </div>
</div>