
@{
    ViewBag.Title = "Mechanical HVAC Design / Retrofit";
}

<div class="col-md-6 col-md-offset-3 no-padding margin-bottom-15">
    <div class="col-md-12 no-padding margin-bottom-15">
        <img style="width:100%;" src="~/Content/Images/MechanicalHVACDesignRetrofit/Header.png">
    </div>
    <div class="col-md-12 no-padding margin-bottom-15">
        <div class="no-padding col-md-12">
            <p>Since 1925, A.J. Celiano, Inc. has been an industry leader in <b>mechanical engineering and design-build solutions</b> for a variety of customers. As an alternative to traditional plan-and-spec approaches, A.J. Celiano, Inc. offers <b>customized concepts and schemes</b> to efficiently design and construct a variety of mechanical projects. Utilizing state of the art technology and years of Mechanical Engineering experience, customers rely on our expertise in the following applications:</p>
        </div>
        <div class="no-padding col-md-12 margin-bottom-15">
            <div class=" col-xs-12 col-md-6 no-padding">
                <ul>
                    <li>Churches</li>
                    <li>Schools</li>
                    <li>Medium to large office buildings</li>
                    <li>Clean rooms</li>
                    <li>Laboratories</li>
                    <li>Warehouses</li>
                </ul>
            </div>
            <div class="col-md-6 hidden-xs hidden-sm margin-bottom-15" style="float:right;">
                <img src="~/Content/Images/MechanicalHVACDesignRetrofit/DesignRetrofit - 1.jpg" class="center-block box-shadow" style="max-width:100%;">
            </div>
            <div class="col-md-6 hidden-md hidden-lg margin-bottom-15">
                <img src="~/Content/Images/MechanicalHVACDesignRetrofit/DesignRetrofit - 1.jpg" class="center-block box-shadow" style="max-width:100%;">
            </div>
            <p>Whether you are building a new space, renovating a current space or need a fit-up A.J. Celiano, Inc. can customize a concept and schematics for an efficient, comfortable space. Utilizing state of the art technology and years of Mechanical Engineering experience, customers rely on our expertise to offer the best quality work to meet your HVAC needs.</p>
        </div>
        <div class="no-padding col-md-12 margin-bottom-15">
            <div class="col-md-5 col-xs-12 no-padding-left">
                <img src="~/Content/Images/MechanicalHVACDesignRetrofit/DesignRetrofit - 2.jpg" class="center-block" style="max-width:100%;">
            </div>
            <p>A.J. Celiano, Inc. specializes in the <b>Retrofit Process</b>, in which larger scale jobs can be customized to be done in phases. Piecing larger projects together in phases helps customers plan for complete mechanical overhauls, while taking into mind physical, aesthetic, and financial needs of each customer. Retrofit projects have many benefits including:</p>
            <div class="col-md-7 no-padding">
                <ul>
                    <li>Unique approaches to mechanical problems</li>
                    <li>Increase the efficiency of your current system</li>
                    <li>Save customers time and money in operating expenses</li>
                    <li>Consistent improved comfort levels and air quality</li>
                </ul>
            </div>
            <p>We can review and correct control and system problems which enhance comfort levels, reliability and intelligent use of fuel.</p>
            <p>If you are planning on purchasing HVAC equipment for a new construction project or replacing existing equipment, energy efficiency is more important than ever.  A.J. Celiano, Inc. is the best in servicing your HVAC needs with outstanding results.</p>
        </div>
    </div>
</div>