
@{
    ViewBag.Title = "Preventive Maintenance";
}

<div class="col-md-6 col-md-offset-3 no-padding margin-bottom-15">
    <div class="col-md-12 no-padding margin-bottom-15">
        <img style="width:100%;" src="~/Content/Images/PreventiveMaintenance/Header.png">
    </div>
    <div class="col-md-12 no-padding">
        <div>
            <p>A.J. Celiano, Inc. provides customers with a customized <b>maintenance program</b> to meet your HVAC needs. Whether monthly, seasonal, or annual visits are required, <b>regular maintenance</b> by our skilled technicians will provide customers with not only top performance and efficiency of your system, but longevity of your equipment. An HVAC system that lacks <b>proper maintenance</b> will inevitably break down and potentially cause an expensive repair down the road.</p>
        </div>
        <div class="no-padding col-md-12 margin-bottom-15">
            <h4><b>Why contract AJ Celiano to perform your HVAC systems’ Preventive Maintenance?</b></h4>
            <div class="no-padding-left col-md-4">
                <ul>
                    <li>Fewer expensive repairs and inconvenient breakdowns</li>
                    <li>Quick response to breakdowns</li>
                    <li>Discounts on repairs</li>
                    <li>Guaranteed 24/7 emergency service</li>
                    <li>Extended equipment life</li>
                    <li>Lower utility bills</li>
                    <li>Improved safety</li>
                </ul>
            </div>
            <div class="col-md-8">
                <img src="~/Content/Images/PreventiveMaintenance/coilcleaning3.jpg" class="center-block box-shadow" style="max-width:100%;">
            </div>
        </div>
        <div class="no-padding col-md-12 margin-bottom-15">
            <div class="col-md-4">
                <img src="~/Content/Images/PreventiveMaintenance/filter2.jpg" class="center-block box-shadow" style="max-width:100%;">
            </div>
            <div class="col-md-8 margin-top-15">
                <p>A.J. Celiano provides customers with a complete report of their HVAC system as a whole, and alerts the customer of any deficiencies found during <b>maintenance inspections</b>. By pre-emptively alerting customers of potential issues, downtime is minimized, and the customer has peace of mind that their equipment is being serviced by experienced professionals.</p>
            </div>
        </div>
    </div>
</div>