
@{
    ViewBag.Title = "Preventive Maintenance";
}

<div class="col-md-6 col-md-offset-3 no-padding margin-bottom-15">
    <div class="col-md-12 no-padding margin-bottom-15">
        <img style="width:100%;" src="~/Content/Images/PreventiveMaintenance/Header.png">
    </div>
    <div class="col-md-12 no-padding">
        <p>Just like changing the oil in your car, performing regular maintenance on your HVAC system is the most effective way to keep it in top working order.</p>
        <p>A.J. Celiano, Inc. provides customers with a customized maintenance program to meet your HVAC needs. Whether monthly, seasonal, or annual visits are required, regular maintenance by our skilled technicians will provide customers with not only top performance and efficiency of your system, but longevity of your equipment.</p>
        <p>A.J. Celiano provides customers with a complete report of their HVAC system as a whole, and alerts the customer of any deficiencies found during maintenance inspections. By pre-emptively alerting customers of potential issues, downtime is minimized, and the customer has peace of mind that their equipment is being serviced by experienced professionals.</p>
    </div>
</div>