
@{
    ViewBag.Title = "Preventative Maintenance";
}

<div class="col-md-6 col-md-offset-3 no-padding margin-bottom-15">
    <div class="col-md-12 no-padding margin-bottom-15">
        <img style="width:100%;" src="~/Content/Images/PreventativeMaintenance/Header.png">
    </div>
    <div class="col-md-12 no-padding">
        <p>
            The best way to keep your HVAC system in top working order is preventative maintenance. A.J. Celiano,
            Inc. provides a customized maintenance program to meet your HVAC needs. Whether seasonal,
            monthly, or yearly visits are required, regular maintenance by our skilled technicians will provide not
            only top performance and efficiency of your system, but longevity of your equipment.
        </p>
    </div>
</div>