
@{
    ViewBag.Title = "ServiceRepair";
}

<div class="col-md-6 col-md-offset-3 no-padding margin-bottom-15">
    <div class="col-md-12 no-padding margin-bottom-15">
        <img style="width:100%;" src="~/Content/Images/ServiceRepair/Header.png">
    </div>
    <div class="col-md-12 no-padding">
        <p>A.J. Celiano, Inc. provides exceptional service for their customers by responding to their HVAC repair needs with skilled, experienced mechanics and technicians. By utilizing cutting edge technology and practical, efficient service procedures, our qualified technicians can repair a variety of mechanical components on systems ranging from 2-ton residential splits to 250-ton industrial sized chiller plants. After each repair, the customer is provided with a comprehensive report of repairs and improvements performed, along with the peace of mind that the job is fixed right the first time.</p>
        <p>Today’s building climates rely on environmental controls in order to provide comfort for their customers, employees, and tenants. Whether you find your surroundings too hot in the summer or too cold in the winter, A.J. Celiano, Inc. responds quickly to diagnose and remedy your HVAC system.</p>
    </div>
</div>