
@{
    ViewBag.Title = "Home";
}

<div class="col-md-12 no-padding">
    <div class="col-md-12 no-padding" style="height:250px;">
        <img src="~/Content/Images/SplashImage1.jpg" style="width:100%;top:-100px;position:static;z-index:-1;">
    </div>
    <div class="col-md-12 no-padding section-padding" style="background-color:#fff;">
        <div class="col-md-8 no-padding col-md-offset-2">
            <div class="col-md-12 no-padding margin-bottom-40">
                <h2 class="bold">AJ Celiano - Comfort Engineers</h2>
                <div class="col-md-6 no-padding-left">
                    <p style="font-size:large" class="margin-bottom-15">Almost a century ago the company provided refrigeration services to commercial and industrial customers.  Today, we specialize in Mechanical Construction Design, Installation, Retrofit,  Controls, Service Repair, and Maintenance.  A.J. Celiano, Inc.’s pursuit of excellence in quality service has define the company as a reputable and professional leader in the industry.</p>
                    <a class="home-read-more-btn-about-us" href="/AboutUs/History">Read More</a>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/Images/AboutUs/Owners.png" style="width:100%;" />
                </div>
                
            </div>
            <div class="col-md-12 no-padding margin-bottom-15">
                <div class="col-md-8 no-padding-left">
                    <h2>Clean Rooms</h2>
                    <p><b>this text needs to change</b>A.J. Celiano, Inc. is an industry leader when it comes to designing Clean Air and Humidiﬁcation Rooms for medical laboratory environments. We have the engineering knowledge, installation experience, service responsiveness, and most importantly, the trust of customers who expect high efﬁciency, consistent comfort, and the cleanest conditioned air possible.</p>
                </div>
                <div class="col-md-4">
                    <div class="home-read-more">
                        <a href="/Services/CleanRooms">
                            <img src="~/Content/Images/CleanRooms/Diagram.png">
                        </a>
                        <a class="home-read-more-btn" href="/Services/CleanRooms">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding margin-bottom-15">
                <div class="col-md-8 no-padding-left">
                    <h2>Retro-Fit Process</h2>
                    <p><b>this text needs to change</b>In addition, we participate in several NJ rebate programs that will save you money on approved mechanical equipment and offer you monthly savings from local utility companies who reward smart customers committed to energy management. We maintain an exemplary reputation in the commercial/industrial sectors for Retro Fitting outdated and inefficient boilers, pumps and HVAC systems, by transforming them into cost/energy/space saving upgrades that leave you environmentally and financially comfortable.</p>
                </div>
                <div class="col-md-4">
                    <div class="home-read-more">
                        <a href="/Services/Retrofit">
                            <img src="~/Content/Images/RetroFit/Old2.png">
                        </a>
                        <a class="home-read-more-btn" href="/Services/Retrofit">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="col-md-8 no-padding-left">
                    <h2>Work Ethic</h2>
                    <p><b>this text needs to change</b>To practice your profession at the highest level of integrity is paramount to providing quality work at a fair price. We reward employees who consistently seek out difficult problems and develop innovative solutions for our clients. Believe that you can make a difference and you will.</p>
                </div>
                <div class="col-md-4">
                    <div class="home-read-more">
                        <a href="/Services/WorkEthic">
                            <img src="~/Content/Images/WorkEthic/Construction1.png">
                        </a>
                        <a class="home-read-more-btn" href="/Services/WorkEthic">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding section-padding testimonials">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-12 margin-bottom-15">
                <h1 style="text-align:center;">Trusted by Everyone...</h1>
            </div>
            <div class="col-md-6">
                <div class="row margin-bottom-15">
                    <div class="col-md-4">
                        <img src="~/Content/Images/RetroFit/Logo1.png" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/RetroFit/Logo1.png" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/RetroFit/Logo1.png" />
                    </div>
                </div>
                <div class="row margin-bottom-15">
                    <div class="col-md-4">
                        <img src="~/Content/Images/RetroFit/Logo1.png" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/RetroFit/Logo1.png" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/RetroFit/Logo1.png" />
                    </div>
                </div>
                <div class="row margin-bottom-15">
                    <div class="col-md-4">
                        <img src="~/Content/Images/RetroFit/Logo1.png" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/RetroFit/Logo1.png" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/RetroFit/Logo1.png" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="margin-bottom-15">
                    <span>'AJ Celiano is the best'</span>
                    <br />
                    <b>Nicholas Celiano</b>
                    <br />
                    <i>King of the world</i>
                </div>
                <div class="margin-bottom-15">
                    <span>'AJ Celiano is the best place in the world trying to figure stuff to type out to make this multiple lines of text'</span>
                    <br />
                    <b>Nicholas Celiano</b>
                    <br />
                    <i>King of the world</i>
                </div>
                <div class="margin-bottom-15">
                    <span>'AJ Celiano is the best'</span>
                    <br />
                    <b>Nicholas Celiano</b>
                    <br />
                    <i>King of the world</i>
                </div>
            </div>
        </div>
    </div>
</div>
