@{
    ViewBag.Title = "Clean Rooms";
}

@Styles.Render("~/Content/CleanRooms.css")
<div style="position:relative;text-align: left;">
    <div class="CleanRooms_Header"></div>
    <div style="height:41px;left:6px;position:absolute;top:78px;width:620px;">
        Commercial Clean Rooms
    </div>
    <div class="CleanRooms_0"></div>
    <div style="height:80px;left:10px;position:absolute;top:362px;width:369px;">
        Ruger Chemical Co., Inc.
        <br />
        Ruger Chemical is a full-line distributor of ingredients from highly regulated pharmaceutical, food and nutritional supplement companies. Their in-house laboratory ensures the highest standards of quality, with special emphasis on designing cleanrooms to reduce contaminants.
    </div>
    <div class="CleanRooms_1"></div>
    <div style="height:92px;left:18px;position:absolute;top:638px;width:354px;">
        Medical Diagnostics Laboratory, L.L.C.
        <br />
        MDL was founded in 1997 as a specialty infectious disease diagnostic testing laboratory and continues to grow in the highly technical ﬁelds of molecular biology, immunology and serology. MDL provides clinicians with valuable diagnostic information to assist in the detection, diagnosis, evaluation, and treatment of viral, bacterial, parasitic and fungal infections.
    </div>
    <div class="CleanRooms_2"></div>
    <div style="height:68px;left:20px;position:absolute;top:919px;width:350px;">
        Celldex Therapeutics
        <br />
        Celldex is a biotechnology company focused on the discovery, development and commercialization of novel immunotherapeutics including human monoclonal antibodies for the treatment of cancer, infectious diseases, and immune system disorders.
    </div>
    <div class="CleanRooms_3"></div>
    <div style="height:80px;left:20px;position:absolute;top:1188px;width:350px;">
        US Customs &amp; Border Protection
        <br />
        Laboratories and Scientiﬁc Services coordinates technical and scientiﬁc support to all customs trade and border protection activities. A.J. Celiano’s Peak Performance HVAC engineering included laboratory airﬂow and pressurization control equipment and sophisticated DDC controls and monitoring.
    </div>
    <div style="height:377px;left:393px;position:absolute;top:145px;width:377px;">
        Medical Labs: HVAC Engineering
        <br />
        <br />
        A.J. Celiano, Inc. is an industry leader when it comes to designing <span class="style_4">Clean Air and Humidiﬁcation Rooms</span> for medical laboratory environments. We have the engineering knowledge, installation experience, service responsiveness, and most importantly, the trust of customers who expect high efﬁciency, consistent comfort, and the cleanest conditioned air possible.
        <br />
        <br />
        Our most recent experience at U.S. Customs &amp; Border Protection, Newark, NJ, Cellldex Therapeutics, Phillipsburg, NJ, Ruger Chemical, Linden, NJ, and Medical Diagnostics Laboratory of Hamilton, NJ provided us the opportunity to design and install cleanroom facilities for medical and animal laboratory environments. Given the sensitivity of materials assessed and the necessity to limit contaminants, our efﬁcient design and meticulous installation processes and procedures have exceeded our customers expectations.
        <br />
        <br />
        Humidiﬁcation environments have recently become important to lab facilities to maintain high levels of control for testing procedures set forth by governmental agencies and private industries.
    </div>
    <div class="CleanRooms_4"></div>
    <div style="height:212px;left:396px;position:absolute;top:847px;width:371px;">
        Cleanroom Characteristics
        <br />
        <br />
        Modern &quot;clean&quot; process environments often must be so clean that it is impractical to simply ﬁlter the air. Separate environments called cleanrooms have been developed to keep particle contamination at known, controlled levels. Cleanrooms are designed to maximize laminar ﬂow and minimize particle traps. In the most efﬁcient facilities, ﬁlters are installed in the ceiling and air returns are installed in the ﬂoor. This results in the cleanest environment possible, and minimizes the number of particles that are carried from one place to another by advection.
    </div>
    <div class="CleanRooms_5"></div>
    <div style="height: 1268px; line-height: 1268px; " class="spacer"> </div>
</div>