@{
    ViewBag.Title = "Work Ethic";
}

@Styles.Render("~/Content/WorkEthic.css")
<div style="position:relative;text-align: left;">
    <div class="WorkEthic_Header"></div>
    <div style="height:30px;left:452px;position:absolute;top:105px;width:309px;">
        Principals of Operation
    </div>
    <div style="height:437px;left:150px;position:absolute;top:150px;width:648px;">
        The future of A.J. Celiano rests in a daily commitment to principles of service at the highest lev
        <div class="WorkEthic_3"></div>
        els. These principles make up an operational outline for both owners &amp; employees.
        <br />
        • 0n-Time Performance
        <br />
        We must always focus on the client's need to receive his project on time. Therefore, on-time performance is required on all projects and nothing less will be accepted.
        <br />
        • Leadership
        <br />
        To practice your profession at the highest level of integrity is paramount to providing quality work at a fair price. We reward employees who consistently seek out difficult problems and develop innovative solutions for our clients. Believe that you can make a difference and you will.
        <br />
        • Growth
        <br />
        We encourage employees to use their talents and abilities to improve and grow on a daily basis. Building on the strengths of our staff ensures the ongoing operation and success of the firm.
        <br />
        • Quality
        <br />
        Our ability to maintain client relationships rests on the quality of the services we produce. We will always provide quality without compromise that meets or exceeds our clients' expectations.
        <br />
        • Fees
        <br />
        First class, quality work that is on-time and within budget means profits and continued operation of the firm. We will not be a low-cost provider at the expense of any other goals. Fair rates for fair services.
    </div>
    <div class="WorkEthic_0"></div>
    <div class="WorkEthic_1"></div>
    <div class="WorkEthic_2"></div>
    <div style="height: 587px; line-height: 587px; " class="spacer"> </div>
</div>