footer {
    background-color: #0070b1;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: left;
    color: #fff;
}

footer .footer-logo {
    padding-top: 20px;
    padding-bottom: 15px;
}

footer .footer-logo img {
    margin: auto;
    width: 100%;
    display: block;
}

footer div.section-title {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 15px;
}

div.hours {
    padding-bottom: 10px;
}

footer a i {
    padding: 8px;
    padding-left: 0px;
}

footer a,
footer a:hover,
footer a:link,
footer a:visited,
footer a:active {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding: 5px;
    padding-left: 0px;
}

@media (max-width: 768px) {
    footer {
        text-align: center;
    }
}
