body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    margin: auto 0;
    width: 100%;
}

h1, h2, h3 {
    margin-top:0;
}

.no-padding {
    padding:0;
}

.no-padding-left {
    padding-left:0;
}

.no-wrap {
    white-space:nowrap;
}

.bold {
    font-weight:bold;
}

.sub-text {
    font-size:x-small;
}

.box-shadow {
    box-shadow: 10px 10px 5px #ddd;
}

.indent {
    margin-left: 36px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.section-padding {
    padding-top:50px;
    padding-bottom:50px;
}