.About_Dan, .About_Greg, .About_Mike, .About_Header, .About_0, .About_1{
	background: url(Images/About.png) no-repeat;
    position:absolute;
}

.About_Header{
	background-position: 0 0;
	width: 797px;
	height: 426px;
    position:relative;
}

.About_Dan{
	background-position: -508px -427px ;
	width: 80px;
	height: 77px;
    left:498px;
    top:497px;
}

.About_Greg{
	background-position: -589px -427px ;
	width: 83px;
	height: 83px;
    left:652px;
    top:491px;
}

.About_Mike{
	background-position: -674px -427px ;
	width: 82px;
	height: 83px;
    left:573px;
    top:627px;
}

.About_0{
	background-position: 0 -427px ;
	width: 247px;
	height: 191px;
    left:55px;
    top:752px;
}

.About_1{
	background-position: -248px -427px ;
	width: 259px;
	height: 176px;
    left:484px;
    top:957px;
}

