.contact-info i {
    padding: 8px;
    padding-left: 0px;
}


.directory-section {
    padding-bottom: 15px;
}

.directory-section span {
    display: block;
}

.directory-section .title {
    text-transform:uppercase;
    text-decoration:underline;
}