
@{
    ViewBag.Title = "History";
}
<div class="col-md-6 col-md-offset-3 no-padding">
    <div class="col-md-12 no-padding margin-bottom-15">
        <img style="width:100%;" src="~/Content/Images/AboutUs/Office.png">
    </div>
    <div class="col-md-12 no-padding">
        <div class="col-md-6 no-padding-left">
            <p>A.J. Celiano, Inc. is a commercial/industrial mechanical contracting firm specializing in heating, ventilating and air conditioning. We are leaders in on-time, high quality and cost-effective services. Our client base has and will continue to include the private and public sectors.<br></p>
            <p>A.J. Celiano's pursuit of excellence in quality service, and the family tradition of honesty and integrity, has defined the company as a reputable and professional leader in the industry since our inception in 1925. Dedication to this philosophy in all arenas of business allows us to consistently exceed our customers' highest expectations.</p>
            <div class="col-md-12 no-padding margin-bottom-15">
                <h2 class="text-center">Our Family Legacy</h2>
                <img src="~/Content/Images/AboutUs/OldOffice.png" class="center-block">
            </div>
            <div class="col-md-12 no-padding">
                <p>Inspired by his father’s dedication to these principles and passion for his work, A.J.’s son, Eugene R. Celiano, became the first of a new generation to build upon his foundation.  Eugene committed himself to the expansion of his father’s dream.  Today, the unique family legacy continues under the leadership and work of brothers Daniel, Gregory and Michael.  Yet another generation of succession has come when Thomas Celiano joined the company in 2007.  Together, they work collaboratively to continue the unyielding commitment and principles set for nearly a century ago.</p>
            </div>
        </div>
        <div class="col-md-6 no-padding margin-bottom-15">
            <div class="col-md-12 no-padding">
                <h2 class="text-center">Engineers of Comfort</h2>
            </div>
            <div class="col-md-12 no-padding">
                <div class="col-md-6 no-padding">
                    <div class="col-md-6 col-md-offset-3">
                        <img src="~/Content/Images/AboutUs/Dan.png" style="width:100%;">
                        <span class="col-md-12 no-padding no-wrap">Dan Celiano</span>
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="col-md-6 col-md-offset-3">
                        <img src="~/Content/Images/AboutUs/Greg.png" style="width:100%;">
                        <span class="col-md-12 no-padding no-wrap">Greg Celiano</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="col-md-6 no-padding col-md-offset-3">
                    <div class="col-md-6 col-md-offset-3">
                        <img src="~/Content/Images/AboutUs/Mike.png" style="width:100%;">
                        <span class="col-md-12 no-padding no-wrap">Mike Celiano</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <p>A.J. Celiano, Inc. was founded in 1925 by Alfred J. Celiano and has been in continuous operation ever since. The history of A.J. Celiano, Inc. began with the dreams of Alfred and his devoted wife, Theresa. As a young man with a wealth of enthusiasm and imagination, A.J. laid the foundation for the company. The roots of this foundation are based on a commitment to three principles:<br></p>
                <p class="text-center bold">INTEGRITY - HONESTY - SERVICE</p>
            </div>
            <div class="col-md-12 no-padding">
                <img src="~/Content/Images/AboutUs/Owners.png" class="center-block">
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding margin-bottom-15">
        <p>The firm originally provided refrigeration services to commercial and industrial customers. Today, we specialize in mechanical construction design, installation and maintenance. Sales volumes for the previous five years have averaged over $9 million. A.J. Celiano's pursuit of excellence in quality service has defined the company as a reputable and professional leader in the industry.</p>
    </div>
</div>