
@{
    ViewBag.Title = "Contact Info";
}

<div class="col-md-6 col-md-offset-3 no-padding contact-info">
    <div class="col-md-12 bg-danger margin-bottom-15">
        <h5>For EMERGENCIES during non-business hours, please call <a href="tel:9082727510">(908)272-7510</a> and follow the prompt for our Hot Line.</h5>
    </div>
    <div class="col-md-6 no-padding margin-bottom-15">
        <h3>Company Directory</h3>
        <div class="directory-section">
            <span class="title">PRINCIPLES</span>
            <span><i>President</i>- Daniel Celiano (<a href="mailto:dceliano@ajceliano.com">dceliano@ajceliano.com</a>)</span>
            <span><i>VP Construction</i>- Gregory Celiano (<a href="mailto:gceliano@ajceliano.com">gceliano@ajceliano.com</a>)</span>
            <span><i>VP Service</i>- Michael Celiano (<a href="mailto:mceliano@ajceliano.com">mceliano@ajceliano.com</a>)</span>
        </div>
        <div class="directory-section">
            <span class="title">SERVICE & MAINTENANCE</span>
            <span><i>Service Manager</i>- Thomas Celiano (<a href="mailto:tceliano@ajceliano.com">tceliano@ajceliano.com</a>)</span>
            <span><i>Service Billing & Support</i>- Melissa (<a href="mailto:mtrabuscio@ajceliano.com">mtrabuscio@ajceliano.com</a>)</span>
            <span><i>Service and Computer Support</i>- Jeremy (<a href="mailto:jborut@ajceliano.com">jborut@ajceliano.com</a>)</span>
        </div>
        <div class="directory-section">
            <span class="title">Bookkeeping and Construction Support</span>
            <span>Joan Celiano (<a href="mailto:jceliano@ajceliano.com">jceliano@ajceliano.com</a>)</span>
        </div>
        <div class="directory-section">
            <span class="title">PROJECT MANAGEMENT</span>
            <span><i>Field Supervisor</i>- Ed C.</span>
            <span><i>Field Supervisor</i>- Nick V.</span>
            <span><i>Field Supervisor</i>- Jay B.</span>
        </div>
    </div>
    <div class="col-md-6 no-padding margin-bottom-15">
        <div class="col-md-12 no-padding margin-bottom-15">
            <h3>Contact Info</h3>
            <div>
                <a href="https://www.google.com/maps/place/460+Ludlow+Ave,+Cranford,+NJ+07016" target="_blank"><i class="fa fa-map-marker"></i>460 Ludlow Ave Cranford, NJ 07016</a>
            </div>
            <div>
                <a href="tel:9082727510"><i class="fa fa-phone"></i>(908)272-7510</a>
            </div>
            @*<div>
                <a href="mailto:info@ajceliano.com"><i class="fa fa-envelope"></i>info@ajceliano.com</a>
            </div>*@
            <div>
                <a href="tel:9082720291"><i class="fa fa-fax"></i>Fax: (908)272-0291</a>
            </div>
        </div>
        <div class="col-md-12 no-padding">
            <h3>Office Hours</h3>
            <div class="hours">
                <span>Monday-Friday: 8am to 5pm</span>
            </div>
            <div class="hours">
                <span>Saturday: Closed</span>
            </div>
            <div class="hours">
                <span>Sunday: Closed</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding margin-bottom-15">
        <h3>Office Location</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.965949791732!2d-74.28522098459692!3d40.65268097933835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b246a25813c1%3A0x73f421fedca5c06d!2s460+Ludlow+Ave%2C+Cranford%2C+NJ+07016!5e0!3m2!1sen!2sus!4v1516214566142" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
    </div>
</div>