@{
    ViewBag.Title = "Contact";
}

<div id="pageContact">
    <img src="~/Content/Images/Header_Contact.png" />
    <h2>Company Directory</h2>
    <h4>PRINCIPLES</h4>
    President - <a href="mailto:dceliano@ajceliano.com?subject=">Dan Celiano</a>
    <br />
    VP Construction - <a href="mailto:gceliano@ajceliano.com%0D?subject=">Greg Celiano</a>
    <br />
    VP Service - <a href="mailto:mceliano@ajceliano.com%0D?subject=">Mike Celiano</a>
    <br />
    <h4>HUMAN RESOURCES/ORG DEVELOPMENT</h4>
    Personnel Director - <a href="mailto:kceliano@ajceliano.com%0D?subject=">Ken Celiano</a>
    <br />
    Operations Manager - <a href="mailto:tceliano@ajceliano.com%0D?subject=">Thomas Celiano</a>
    <br />
    <h4>ADMINISTRATIVE PERSONNEL</h4>
    Executive Administrator - <a href="mailto:gkelleher@ajceliano.com%0D?subject=">Gloria</a>
    <br />
    Bookkeeping - <a href="mailto:fsuttile@ajceliano.com%0D?subject=">Mimi</a>
    <br />
    GM of Finance - <a href="mailto:jnorek@ajceliano.com%0D?subject=">John</a>
    <br />
    <h4>PROJECT MANAGEMENT</h4>
    Project Manager - <a href="mailto:jharrison@ajceliano.com%0D?subject=">Jack</a>
    <br />
    Project Manager - <a href="mailto:sbishop@ajceliano.com%0D?subject=">Scott</a>
    <br />
    <h4>DRAFTING &amp; DESIGN</h4>
    Estimator - <a href="mailto:djeffreys@ajceliano.com%0D?subject=">Dave</a>
    <br />
    <h4>SERVICE &amp; MAINTENANCE</h4>
    Service Manager/Dispatcher - <a href="mailto:rlarocca@ajceliano.com%0D?subject=">Rich</a>
    <br />
    Service Administrator - <a href="mailto:dhilcken@ajceliano.com?subject=email%20subject">Donna</a>
</div>