@{
    ViewBag.Title = "Home";
}

@Styles.Render("~/Content/Home.css")
<div id="pageHome">
    <div style="height:32px;left:230px;top:84px;width:339px;">
        Licensed Commercial Contractors
    </div>
    <div class="Home_Logo"></div>
    <div style="height:56px;left:38px;top:15px;width:95px;">
        A Family Business Over 80 Years
    </div>
    <div class="Home_header" style="left:155px;top:4px;"></div>
    <div style="height:56px;left:679px;top:15px;width:95px;">
        Commercial Comfort Engineers
    </div>
    <div class="Home_0"></div>
    <div class="Home_1"></div>
    <div class="Home_2"></div>
    <div class="Home_3"></div>
    <div class="Home_4"></div>
    <div class="Home_5"></div>
    <div class="Home_6"></div>
    <div class="Home_7"></div>
    <div class="Home_8"></div>
    <div class="Home_9"></div>
    <div class="Home_10" onclick="javascript:window.location='mailto:tceliano@ajceliano.com?subject=Site%20Survey/Energy%20Analysis'"></div>
    <div style="height:32px;left:172px;top:552px;width:455px;">
        460 Ludlow Ave Cranford, N.J. 07016   908-272-7510
    </div>
</div>